body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;

}
h1 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000048;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a hover {
  background-color: #111;
}

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 12px; /* Add some padding */
  border: 2px solid black;
  margin-bottom: 15px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 2px solid black;
  font-size: 14px; /* Increase font-size */
  padding : 20px;
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header {
  background-color: #000048;
  color: white;
}

#logo {

     
}
#footer {
	
	left: 0;
	padding: 10px;
	bottom: 10px;
	width: 100%;
	background-color:  #000048;
	color: white;
	text-align: left;
	
}


#fname{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#lname{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#email{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#serviceline{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
}


#other{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

select {
  width: 280%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#project{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
}

#pnameother{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#employee{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
}

#startdate{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#enddate{
  width: 280px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#pass{
  width: 300px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
}

#password{
  width: 300px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
}

.button2:hover {
  background-color: #000048;
  color: white;
}

.button2 {
  font-size: 25px;
  background-color: white; 
  color: black; 
  border: 2px solid #000048;
  text-decoration: none;
}


#select {
	width: 200px;
    padding: 5px;}
    
#time{
font-size: 7px; 

}
#myTableUser {
  border-collapse: collapse; /* Collapse borders */
  width: 200%; /* Full-width */
  border: 2px solid black;
  font-size: 14px; /* Increase font-size */
  padding : 20px;
  position: relative;
 
}

#myTableUser th, #myTableUser td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTableUser tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTableUser tr.header {
  background-color: #000048;
  color: white;
}
  
.formUser{
 display: flex;
 }
 
 form{margin:0px; padding:25px; display:inline;

 }
 
 h2{ text-align: centre;}

.userscroll {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 100px;
height: 200px;
overflow: scroll;
}
::-webkit-scrollbar {
width: 12px;
height: 12px;
}
::-webkit-scrollbar-track {
border: 1px solid #000080;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: #000080;
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: #0000ff;
}


* {
  box-sizing: border-box;
}
 
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0;
  width: 100%;
  height: 100%;
}
 
@media screen and (max-width: 768px) {
  html, body {
    font-size: 12px;
  }
}

div.container{
	position: relative;
	top: 17px;
}

div.container2{
	position: relative;
	top: 205px;
}

div.container3{
	position: relative;
	top: -345px;
	left: 430px;
}

div.containerusername{
	position: relative;
	top: 38%;
	left: 40%;
	max-width: 400px;
}

div.containerpassword{
	position: relative;
	top: 39%;
	left: 38.2%;
	max-width: 400px	
}

div.loginbutton{
	position: relative;
	top: 41%;
	left: 43%;
	max-width: 400px;
}

div.register{
	position: relative;
	top: 35%;
	left: 50%;
	max-width: 400px;
}

div.logo{
	justify-content: center;
	position: relative;
	top: 30%;
	left: 39%;
	max-width:400px;
}

div.logout{
	position: relative;
	top: -5%;
	left: 90%;
	max-width: 200px;
}


 
.button {
  text-decoration: none;
  font-size: .875rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.0rem;
  background-color: #fff;
  color: #000048;
  padding: 1rem 1rem;
  font-weight: 900;
}

 
.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;
}

div.loginpopup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 200vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 400px;
  max-height: 280px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  transform: rotate(32deg);
  transition: .64s ease-in-out;
}

.popuptext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popuptext h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popuptext p {
  font-size: .875rem;
  color: #686868;
  line-height: 1.5;
}
 
.popuptext a {
 text-decoration: none;
 color:  #47BDFF;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.closepopup {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #000048;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.myContainer {
	position: relative;
	top: 0%;
	left: 90%;
	max-width: 200px;
}


.form-check {
    transform: scale(1);
}

.bg-dark,
.text-light {
    transition: 0.5s;
}