body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}
h1 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000048;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a hover {
  background-color: #111;
}

#myInput {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 12px; /* Add some padding */
  border: 2px solid black;
  margin-bottom: 15px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 2px solid black;
  font-size: 14px; /* Increase font-size */
  padding : 20px;
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header {
  background-color: #000048;
  color: white;
}

#logo {
  float: left;    
 margin: 0 15px 0 0;
}
#footer {
	
	left: 0;
	padding: 10px;
	bottom: 10px;
	width: 100%;
	background-color:  #000048;
	color: white;
	text-align: left;
	
}

#fname{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#lname{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#email{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#serviceline{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
}


#other{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#project{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
}

#pnameother{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#employee{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
}

#startdate{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#enddate{
  width: 200px;
  padding: 10px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 2px solid #000048;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.button2:hover {
  background-color: #000048;
  color: white;
}

.button2 {
	font-size: 25px;
  background-color: white; 
  color: black; 
  border: 2px solid #000048;
}

#select {
	width: 200px;
    padding: 5px;}
    
#time{
font-size: 7px; 

}

